.env
delete.ipynb
/data/ZN/fasta
/data/ZN/more_mods_pdb
/data/ZN/one_pdb
/data/ZN/pdb
/data/ZN/pdb_update
/data/ZN/more_mods.txt
db
!fasta/fasta_total.fa
fasta/
feature
label
one_pdb
pdb
pssm
pdb_update
more_mods_pdb
surface
swissprot